header{
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
}

ul, a{
    text-decoration: unset;
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;

}

li ,a {
    text-decoration: unset;
    margin-right: 10px;
}

main{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.webSiteBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    gap: 5px 50px;
    flex-wrap: wrap;
}

.card__body{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    box-shadow: 4px 4px 15px;
    align-items: center;
    display: flex;
}

.card__Box__Image{
    max-width: 300px;
    max-height: 250px;
}

.card__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_form{
    padding: 10px;
    min-width: 300px;
    border-radius:  5px;
    box-shadow: 3px 3px 15px;
    display: flex;
    flex-direction: column;
}

.main_form form{
    display: flex;
    flex-direction: column;
}

.main_form form label{
    margin-top: 10px;
}

main.form form input{
    border: solid;
    border-width: 1px;
}

.active{
    color: black;
}

h5{
    margin: 3px;
}

.form__card__action{
    display: flex;
}

.box__card__action{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}


.button__card__action {
    background-color: orange;
    padding: 10px 25px;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 3px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.webSiteItemBody{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}